<div style="text-align: center;">
    <h1>POC OF WEBRTC</h1>
    <h2><a href="/webrtc">Pure webrtc</a></h2>
    <h2><a href="/peerJs">peerJs</a></h2>
    <h2><a href="/peerJs-pure">peerJs manual id setting</a></h2>
</div>