<!DOCTYPE html>
<html>
  <head>
    <title>AV calls POC</title>
    <link rel="shortcut icon" href="#">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      const webSocket = new WebSocket('wss://av.sevenchats.com:3001')
    </script>
    {{{body}}}
  </body>
</html>
